{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-lg-5 detailansicht">
            <div class="row justify-content-center veranstaltungs-icon">
                {% if veranstaltung.kategorie == 'Party' %}
                🎉
                {% endif %}
                {% if veranstaltung.kategorie == 'Konzert' %}
                🎸
                {% endif %}
                {% if veranstaltung.kategorie == 'Filmabend' %}
                🎞️
                {% endif %}
                {% if veranstaltung.kategorie == 'Karaoke' %}
                🎤
                {% endif %}
                {% if veranstaltung.kategorie == 'Festival' %}
                🎪
                {% endif %}
            </div>
            <h3 class="row justify-content-center" >{{ veranstaltung.titel }}</h3>
            <div class="mb-3"><strong>Wann:</strong> {{ veranstaltung.datum }}</div>
            <div class="mb-3"><strong>Wo:</strong> {{ veranstaltung.ort }}</div>
            <p class="mb-3">{{ veranstaltung.beschreibung | safe}}</p>
            <div class="mb-3 mt-5">Like count: <span id="like-count">{{ veranstaltung.counter }}</span></div>
            <button class="btn btn-secondary" id="like-button">👍 Like</button>
        </div>
    </div>
</div>
<script>
const likeButton = document.getElementById("like-button");
const likeCount = document.getElementById("like-count");
const veranstaltungId = "{{ veranstaltung.id }}";

// Check ob fruher schon gedruckt wurde.
if (localStorage.getItem(`liked_${veranstaltungId}`)) {
    likeButton.disabled = true;
    likeButton.textContent = "❤️ Gefällt mir";
}

likeButton.addEventListener("click", () => {
    fetch(`/like/${veranstaltungId}`, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    })
    .then((response) => response.json())
    .then((data) => {
        likeCount.textContent = data.new_count;
        likeButton.disabled = true;
        likeButton.textContent = "❤️ Gefällt mir";
        // Speicher gefallt mir.
        localStorage.setItem(`liked_${veranstaltungId}`, true);
    })
    .catch((err) => console.error(err));
});
</script>
{% endblock %}