{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        <select name="kategorie" id="veranstaltung">
            {% for kategorie in kategorien %}
                <option value="{{ kategorie }}">{{ kategorie }}</option>
            {% endfor %}
        </select><br>
        <label for="titel">Titel:</label> <br>
        <input type="text" name="titel" id=""> <br>
        <label for="beschreibung"></label> <br>
        <textarea name="beschreibung" id="">beispiel</textarea> <br>
        <label for="ort">ORT</label> <br>
        <input type="text" name="ort" id=""> <br>
        <label for="datum"></label> <br>
        <input type="date" name="datum" id=""> <br>
        <input type="submit" value="Eintragen"> <br>
    </form>
{% endblock %}