{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-lg-5">
            <form method="POST">
                <div class="form-floating mb-3">
                    <select class="form-select" name="kategorie" id="kategorie">
                        {% for kategorie in kategorien %}
                        <option value="{{ kategorie }}">{{ kategorie }}</option>
                        {% endfor %}
                    </select>
                    <label for="kategorie">Kategorie</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="titel" id="titel" placeholder="" required>
                    <label for="titel">Titel</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" style="height: 200px;" name="beschreibung" id="beschreibung" placeholder="" required></textarea>
                    <label for="beschreibung">Beschreibungstext</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="ort" id="ort" placeholder="" required>
                    <label for="ort">Ort</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="date" name="datum" id="" required>
                    <label for="datum"></label>
                </div>
                <input class="btn btn-primary" type="submit" value="Eintragen">
            </form>
        </div>
    </div>
</div>
{% endblock %}