<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <select name="kategorie" id="veranstaltung">
            <option value="Party">Party</option>
            <option value="Konzert">Konzert</option>
            <option value="Festival">Festival</option>
            <option value="Filmabend">Filmabend</option>
            <option value="Karaoke">Karaoke</option>
        </select><br>
        <label for="titel">Titel:</label> <br>
        <input type="text" name="titel" id=""> <br>
        <label for="beschreibung"></label> <br>
        <textarea name="beschreibung" id="">beispiel</textarea> <br>
        <label for="ort">ORT</label> <br>
        <input type="text" name="ort" id=""> <br>
        <label for="datum"></label> <br>
        <input type="date" name="datum" id=""> <br>
        <input type="submit" value="Eintragen"> <br>
    </form>
</body>
</html>