{% extends 'base.html' %}
{% block content %}
    <form>
        <select name="kategorie" id="veranstaltung" onchange="this.form.submit()">
            {% for kategorie in kategorien %}
                <option value="{{ kategorie }}" {% if kategorie == selected %} selected {% endif %}>{{ kategorie }}</option>
            {% endfor %}
        </select>
    
        <label for="datum">Ab:</label>
        <input type="date" name="datum" id="datum" value="{{ datum }}" onchange="this.form.submit()">
        <noscript>
            <button type="submit">Suchen</button>
        </noscript>
    </form>
    
    <ul>
        {% for veranstaltung in veranstaltungen %}
        <li>{{ veranstaltung.titel }}</li>
        {% endfor %}
    </ul>
{% endblock %}